@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');


html {
  box-sizing: border-box;
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #30cac073;
  color: #130808;
}

h2 {
  font-size: 1.1em;
  
}

a, a:active, a:visited, a:hover {
  color: rgb(193, 120, 199);
  cursor: pointer;
  text-decoration: none;
}

#contenedorGeneral {
  margin: auto 1em;
  text-align: center;
}

#tituloPagina {
  margin-top: 1em;
  margin-bottom: 0;
  margin-bottom: 0.5em;
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}

#tituloPagina:hover {
  color: pink;
  cursor: pointer;
}

#contenedorPersonaje {
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.imagen {
  height: 170px;
  width: 150px;
  margin: 0em auto;
}

#boton {
  font-size: 0.9em;
  background-color:  rgb(193, 120, 199);
  color: white;
  cursor: pointer;
}
